/* static/css/styles.css */
body {
    font-family: 'Your Chosen Font', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a748b;
    background-image: url('../img/background.jpg'); /* Add your background image path */
    background-size: cover;
}

#app {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #fff; /* Change text color for better visibility on the background */
}

p {
    color: #eee; /* Adjust text color for better visibility */
}
