:root{
  --font-family: 'Nova Round', Helvetica, sans-serif;
}

.primary {
    background-color: #D6CFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: var(--font-family);
  }
  
  .primary .nav-bar-wrapper {
    background-color: D6CFFF;
    height: 100%;
    width: 100%;
  }
