<!-- templates/home.html -->
{% extends 'index.html' %}

{% block content %}
    <section id="home">
        <div class="hero">
            <h2>Welcome to Dreamforge: The Dungeons and Dragons ChatBot</h2>
            <p>Dreamforge allows you to turn your campaigns into detail-filled worlds for players to explore.</p>
        </div>
        <div class="features">
            <div class="feature">
                <img src="{{ url_for('static', filename='img/feature1.png') }}" alt="Worldbuilder URL">
                <h3>Worldbuilding Assistance</h3>
                <p>Import an existing setting, add to an existing world, or make your own from scratch!</p>
            </div>
            <div class="feature">
                <img src="{{ url_for('static', filename='img/feature2.png') }}" alt="Character Generator URL">
                <h3>Character Development</h3>
                <p>Bring your characters to life with unique personalities, backstories, and traits.</p>
            </div>
        </div>
    </section>
{% endblock %}
